    

.button-container
    width: 1300px
    margin: 20px auto
    
    
    
    .button-list
        // width: 900px
        display: flex
        justify-content: center
        flex-direction: row
        border-bottom: 2px solid black

    &__button 
        text-align: center
        background-color: $accent
        width: 210px
        font-size: 17px
        height: 40px
        border: 1px solid black
        color: $main-font-color
        box-sizing: border-box
   
.active
    background-color: $main-font-color
    color: $accent
    outline: 1px solid black

    &:focus-within
        border: 1px solid black


    // .js-movies-cards
    // display: flex
    // row: wrap
    // flex-wrap: wrap
    // justify-content: space-around
    // padding: 10px 10px 10px 10px

.card
    max-width: 350px
    text-align: center

    &__titlecontainer
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center

    &__title
        margin: 10px
        font-size: 24px

.rate
    padding: 2px
    margin: 5px
    background-color: gray
    border-radius: 15%
    font-family: "Segoe-UI"
    color: $main-font-color
    text-align: center
    font-weight: 900
    
.empty
    font-family: "Segoe-UI"
    font-size: 150px
    text-transform: uppercase
    font-weight: 800
    color: grey
    margin-top: 100px
    opacity: .5

    
                

    